html {
  padding: 20px;
}
body {
  font-size: 12px;
}
h1 {
  text-transform: uppercase;
  background-color: green;
  color: white;
  text-align: center;
  padding: 10px;
  border: 2px solid red;
}
p {
  text-indent: 15px;
  line-height: 175%;
}
a {
  text-decoration: none;
}
b {
  color: red;
}
